<template>
  <div>
    <form
      method="post"
      @submit.prevent="saveAlbumClick"
      enctype="multipart/form-data"
    >
      <AlbumForm :value="albumModel" @input="onInputChange"></AlbumForm>
      <div>
        <Button
          type="button"
          class="p-button-danger"
          label="Annuler"
          style="margin-bottom: 20px; margin-right: 20px"
        >
        </Button>
        <Button
          icon="pi pi-save"
          iconPos="left"
          label="Enregistrer"
          style="margin-bottom: 20px"
          type="submit"
        >
        </Button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "vue";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import { ImageModel } from "../../../../../shared//models/common.model";
import { AlbumModel } from "../../../../../shared/models/album.model";
import { ImageService } from "../../../../../shared/services/image.service";
import AlbumForm from "../shared/AlbumForm.vue";

export default defineComponent({
  props: {
    id: {
      type: String,
      required: true
    }
  },
  components: {
    AlbumForm
  },
  setup(props) {
    const router = useRouter();
    const store = useStore();
    const imageService = ImageService.getInstance();

    const data = reactive({
      albumModel: {
        albumName: "",
        albumPhoto: {} as ImageModel,
        albumIsPublished: true,
        albumDescription: "",
        modificationNotes: []
      } as AlbumModel
    });

    function saveAlbum(): void {
      // if (data.albumModel.albumPhoto instanceof FileList) {
      //   imageService
      //     .postImage(data.albumModel.albumPhoto)
      //     .then(albumPhoto => albumPhoto)
      //     .then(albumPhoto => {
      //       data.albumModel.albumPhoto = albumPhoto;
      //       store
      //         .dispatch("artistStore/postArtistAlbum", {
      //           artistId: props.id,
      //           albumModel: data.albumModel
      //         })
      //         .then(() => router.push({ name: "admin.artists" }));
      //     });
      // }
    }

    function saveAlbumClick(): void {
      saveAlbum();
    }

    function onInputChange($event: AlbumModel) {
      data.albumModel = $event;
    }

    return {
      ...toRefs(data),
      onInputChange,
      saveAlbumClick
    };
  }
});
</script>

<style></style>
