<template>
  <div>
    <form
      method="post"
      @submit.prevent="saveGalleryClick"
      enctype="multipart/form-data"
    >
      <GalleryForm :value="galleryModel" @input="onInputChange"></GalleryForm>
      <div>
        <Button
          type="button"
          class="p-button-danger"
          label="Annuler"
          style="margin-bottom: 20px; margin-right: 20px"
        >
        </Button>
        <Button
          icon="pi pi-save"
          iconPos="left"
          label="Enregistrer"
          style="margin-bottom: 20px"
          type="submit"
        >
        </Button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "vue";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import { ImageModel } from "../../../../../shared//models/common.model";
import { AlbumModel } from "../../../../../shared//models/album.model";
import { GalleryModel } from "../../../../../shared//models/gallery.model";
import { GalleryService } from "../../../../../shared//services/gallery.service";
import { ImageService } from "../../../../../shared//services/image.service";
import GalleryForm from "../shared/GalleryForm.vue";

export default defineComponent({
  props: {
    artistId: {
      type: String,
      required: true
    },
    albumId: {
      type: String,
      required: true
    }
  },
  components: {
    GalleryForm
  },
  setup(props) {
    const router = useRouter();
    const store = useStore();
    const imageService = ImageService.getInstance();
    const galleryService = GalleryService.getInstance();

    const data = reactive({
      galleryModel: {
        galleryName: "",
        galleryPhoto: {} as ImageModel,
        galleryDescription: "",
        galleryImageList: [],
        modificationNotes: []
      } as GalleryModel
    });

    function saveGallery(): void {
      // imageService.postUploadImageList(data.galleryModel.galleryImageList);
      // if (data.galleryModel.galleryPhoto instanceof FileList) {
      //   imageService
      //     .postImage(data.galleryModel.galleryPhoto)
      //     .then((galleryPhoto) => galleryPhoto)
      //     .then((galleryPhoto) => {
      //       data.galleryModel.galleryPhoto = galleryPhoto;
      //       return imageService.postUploadImageList(
      //         data.galleryModel.galleryImageList
      //       );
      //     })
      //     .then((imageList) => {
      //       data.galleryModel.galleryImageList = imageList;
      //       galleryService.postAlbumGallery(
      //         props.artistId,
      //         props.albumId,
      //         data.galleryModel
      //       );
      //     });
      // }
    }

    function saveGalleryClick(): void {
      saveGallery();
    }

    function onInputChange($event: GalleryModel) {
      data.galleryModel = $event;
    }

    return {
      ...toRefs(data),
      onInputChange,
      saveGalleryClick
    };
  }
});
</script>

<style></style>
