<template>
  <div class="p-d-flex p-flex-column p-jc-center p-ai-center">
    <UserForm :value="userModel" @input="onInputChange"></UserForm>

    <div>
      <Button
        type="button"
        class="p-button-danger"
        label="Annuler"
        style="margin-bottom: 20px; margin-right: 20px"
      >
      </Button>
      <Button
        type="button"
        icon="pi pi-save"
        iconPos="left"
        label="Enregistrer"
        style="margin-bottom: 20px"
        @click="saveUserClick()"
      >
      </Button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, watch } from "vue";
import UserForm from "../../../../../public/components/users/components/shared/components/UserForm.vue";
import { useRouter } from "vue-router";
import { UserService } from "../../../../../public/components/users/services/user.service";
import {
  RoleModel,
  UserModel
} from "../../../../../public/components/users/models/user.model";

export default defineComponent({
  props: {},
  components: {
    UserForm
  },
  setup() {
    const service = UserService.getInstance();
    const router = useRouter();
    const data = reactive({
      userModel: {
        username: "",
        password: "",
        email: "",
        roles: [] as RoleModel[]
      } as UserModel
    });

    function saveUser(): void {
      service
        .postUser(data.userModel)
        .then(() => router.push({ name: "admin-users" }));
    }

    function saveUserClick(): void {
      saveUser();
    }

    function onInputChange($event: any) {
      data.userModel = $event;
    }

    return {
      ...toRefs(data),
      onInputChange,
      saveUserClick
    };
  }
});
</script>

<style></style>
