<template>
  <div>
    <div id="card-block-container">
      <div class="image-container">
        <a class="image-link">
          <img class="image-picture" :src="cardBlockModel.urlImg" alt="" />
        </a>
      </div>

      <div class="text-container">
        <div class="card-title">{{ cardBlockModel.textTitle }}</div>
        <div class="card-description">
          {{ cardBlockModel.textDescription }}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "vue";

export interface CardBlockModel {
  urlImg: string;
  textTitle: string;
  textDescription: string;
}

export default defineComponent({
  props: {
    cardBlockModel: {
      type: Object,
      required: true
    }
  },
  setup() {
    const data = reactive({});
    return {
      ...toRefs(data)
    };
  }
});
</script>

<style lang="scss">
@import "@/style/_colors.scss";

#card-block-container {
  cursor: pointer;
  .image-link {
    position: relative;
    text-align: center;
    transition: all 0.5s;
    overflow: hidden;
    display: inline-block;
  }

  .image-container {
    width: 330px;
    height: 225px;
    margin-bottom: 20px;
    .image-link {
      width: 100%;
      height: 100%;

      .image-picture {
        width: 100%;
        max-width: 100%;

        height: 100%;
        max-height: 100%;
      }
    }
  }

  .image-container .image-link {
    position: relative;
    text-align: center;
    transition: all 0.5s;
    overflow: hidden;

    &:before {
      width: 100%;
      height: 100%;
      z-index: 1;
      left: 0%;
      top: 0;
    }

    &:after {
      z-index: 2;
      font-family: FontAwesome;
      font-size: 20px;
      line-height: 1;
      left: 50%;
      top: 50%;
      opacity: 1;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    &:before,
    &:after {
      position: absolute;
      content: "";
      transition: all 0.3s ease-out;
    }

    &:before {
      top: 0;
      width: auto;
      height: auto;
      left: 0;
      right: 100%;
      bottom: 100%;
      border-top: 6px solid;
      border-left: 6px solid;
      transition: all 0.5s ease 0s;
      filter: alpha(opacity=0);
    }

    &:after {
      left: 100%;
      top: 100%;
      bottom: 0;
      right: 0;
      border-bottom: 6px solid;
      border-right: 6px solid;
      transform: none;
      filter: alpha(opacity=0);
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      opacity: 0;
      transition: all 0.5s ease 0s;
    }

    &:hover:before {
      opacity: 1;
      bottom: 0px;
      right: 0px;
      filter: alpha(opacity=100);
      border-color: $color_prime;
    }

    &:hover:after {
      opacity: 1;
      left: 0px;
      top: 0px;
      filter: alpha(opacity=100);
      border-color: $color_prime;
    }
  }

  .image-container .image-link .image-picture {
    will-change: -webkit-transform;
    will-change: transform;
    transition: 0.3s;
  }

  .image-container .image-link:hover .image-picture {
    transition: 0.5s all ease;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  .text-container {
    .card-title {
      font-weight: 300;
      font-style: normal;
      font-family: Roboto;
      color: $color_dark_blue;
      font-size: 26px;
      line-height: 1.2;
      letter-spacing: 0px;
      text-align: center;
    }

    .card-description {
      margin-top: 15px;
      font-weight: 300;
      font-style: normal;
      font-family: Roboto;
      color: $color_grey;
      font-size: 16px;
      line-height: 1.4;
      letter-spacing: 0px;
    }
  }
}
</style>
