<template>
  <div id="presentation-block-container" v-if="presentationBlockModel">
    <div class="meta">
      <div
        class="photo"
        :style="{ 'background-image': `url(${presentationBlockModel.urlImg})` }"
      ></div>
    </div>
    <div class="description">
      <h1>{{ presentationBlockModel.h1Title }}</h1>
      <h2>{{ presentationBlockModel.h2Title }}</h2>
      <p>
        {{ presentationBlockModel.content }}
      </p>
      <p class="read-more">
        <router-link
          :to="{
            name: presentationBlockModel.redirectionLinkName,
            params: presentationBlockModel.redirectionLinkParams
          }"
        >
          {{ presentationBlockModel.redirectionTitle }}
        </router-link>
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "vue";

export interface PresentationBlockModel {
  urlImg: string;
  h1Title: string;
  h2Title: string;
  content: string;
  redirectionLinkName: string;
  redirectionLinkParams: object;
  redirectionTitle: string;
}

export default defineComponent({
  props: {
    presentationBlockModel: {
      type: Object,
      required: true
    }
  },
  setup() {
    const data = reactive({});
    return {
      ...toRefs(data)
    };
  }
});
</script>

<style lang="scss">
@import "@/style/_colors.scss";

#presentation-block-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px $color_prime;
  margin-bottom: 2.5%;
  background: $color_white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  .admin-button {
    display: block;
  }
  a {
    color: inherit;
    &:hover {
      color: $color_prime;
    }
  }
  &:hover {
    .photo {
      transform: scale(1.3) rotate(3deg);
    }
  }
  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
  }

  .description {
    padding: 1rem;
    background: $color_white;
    position: relative;
    z-index: 1;
    h1,
    h2 {
      font-family: Poppins, sans-serif;
    }
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
    }
    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $color_grey_dark;
      margin-top: 5px;
    }
    .read-more {
      text-align: right;
      a {
        color: $color_prime;
        display: inline-block;
        position: relative;
      }
    }
  }
  p {
    position: relative;
    margin: 1rem 0 0;
    &:first-of-type {
      margin-top: 1.25rem;
      &:before {
        content: "";
        position: absolute;
        height: 5px;
        background: $color_prime;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px;
      }
    }
  }

  @media (min-width: 640px) {
    flex-direction: row;
    .meta {
      flex-basis: 40%;
      height: auto;
    }
    .description {
      flex-basis: 60%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg);
        }
      }
    }
  }
}
</style>
