<template>
  <div>
    <PresentationBlock 
      :presentationBlockModel="presentationBlockModel"
    >
    </PresentationBlock>

    <PrivateAdminButtons 
      v-if="isAdmin"
      @onEditClick="onEditClick()"
    ></PrivateAdminButtons>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive, toRefs } from "vue";
import { useStore } from "vuex";
import PrivateAdminButtons from "../../../private/components/PrivateAdminButtons.vue";
import PresentationBlock, {
  PresentationBlockModel
} from "./shared/components/PresentationBlock.vue";

export default defineComponent({
  components: {
    PresentationBlock,
    PrivateAdminButtons
  },
  props: {
    albumModel: {
      type: Object,
      required: true
    }
  },
  setup(props) {
    const data = reactive({
      presentationBlockModel: {} as PresentationBlockModel
    });
    const store = useStore();
    const isAdmin = computed(() => store.getters["authStore/isAdmin"]);

    onMounted(() => {
      data.presentationBlockModel = {
        urlImg: props.albumModel.albumPhoto.img,
        h1Title: props.albumModel.albumName,
        h2Title: "",
        content: props.albumModel.albumDescription,
        redirectionLinkName: "album-gallery",
        redirectionLinkParams: { albumId: props.albumModel._id },
        redirectionTitle: "Consulter l'album"
      };
    });

    function onEditClick(): void {
      console.log('onEditClick');
    }

    return {
      ...toRefs(data),
      isAdmin,
      onEditClick
    };
  }
});
</script>

<style lang="scss"></style>
