<template>
  <div>
    <CardBlock :cardBlockModel="cardBlockModel"></CardBlock>
    <PrivateAdminButtons v-if="isAdmin"></PrivateAdminButtons>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive, toRefs } from "vue";
import { useStore } from "vuex";
import PrivateAdminButtons from "../../../private/components/PrivateAdminButtons.vue";
import CardBlock, { CardBlockModel } from "./shared/components/CardBlock.vue";

export default defineComponent({
  components: {
    CardBlock,
    PrivateAdminButtons
  },
  props: {
    galleryModel: {
      type: Object,
      required: true
    }
  },
  setup(props) {
    const data = reactive({
      cardBlockModel: {} as CardBlockModel
    });
    const store = useStore();
    const isAdmin = computed(() => store.getters["authStore/isAdmin"]);

    onMounted(() => {
      data.cardBlockModel = {
        urlImg: props.galleryModel.galleryPhoto.img,
        textTitle: props.galleryModel.galleryName,
        textDescription: props.galleryModel.galleryDescription
      };
    });

    return {
      ...toRefs(data),
      isAdmin
    };
  }
});
</script>

<style lang="scss"></style>
