<template>
  <div @contextmenu="handler($event)">
    <div>
      <img
        :src="imageModel.img"
        :alt="imageModel.alt"
        @click="onImageClick()"
        style="width: 100%; display: block"
      />
    </div>

    <Dialog :modal="true" :closable="false" :visible="showDialog">
      <template #header>
        <h3>Avertissement</h3>
      </template>

      Cette photo est la propriété de l'artiste

      <template #footer>
        <Button label="J'ai compris" icon="pi pi-check" @click="hideModal(e)" />
      </template>
    </Dialog>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "vue";

export default defineComponent({
  props: {
    imageModel: {
      type: Object,
      required: true,
    },
  },
  setup(_, { emit }) {
    const data = reactive({
      showDialog: false,
    });

    function handler(e: Event) {
      e.preventDefault();
      data.showDialog = true;
    }

    function hideModal() {
      data.showDialog = false;
    }

    function onImageClick() {
      emit("input");
    }

    return {
      ...toRefs(data),
      handler,
      hideModal,
      onImageClick,
    };
  },
});
</script>

<style lang="scss">
</style>
