<template>
  <div class="page-container">
    <div class="container">
      <div class="page-title">
        <p>{{ pageTitle }}</p>
      </div>

      <div class="divider">
        <hr />
      </div>

      <div class="slot-container">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "vue";

export default defineComponent({
  props: {
    pageTitle: {
      type: String,
      required: true
    }
  },
  setup() {
    const data = reactive({});
    return {
      ...toRefs(data)
    };
  }
});
</script>

<style lang="scss">
@import "@/style/_colors.scss";
@import "@/style/_container.scss";

.page-container {
  min-height: $container_min_height;
  background-color: $color_white;

  .divider {
    text-align: center;
    position: relative;
    hr {
      max-width: 100%;
      width: 6%;
      border-top-width: 3px;
      border-top-style: solid;
      border-top-color: $color_grey;
    }
  }

  .page-title {
    font-weight: 300;
    font-style: normal;
    font-family: Roboto;
    color: $color_dark_blue;
    font-size: 60px;
    line-height: 1;
    letter-spacing: 0px;
    padding-top: 50px;
    p {
      text-align: center;
    }
  }

  .slot-container {
    margin: 40px 0;
  }
}
</style>
