<template>
  <div>
    <nav role="navigation" class="primary-navigation">
      <ul>
        <li><router-link to="/"> Home </router-link></li>
        <li>
          <router-link :to="{ name: 'albums' }"> Albums d'EliZ </router-link>
        </li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <div>
      <router-view />
    </div>

    <div class="footer">
      <div class="copyright">
        © 2020 Copyright:
        <a href="https://google.com/">Urban-Gallery.com</a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive, toRefs } from "vue";
import { useStore } from "vuex";

export default defineComponent({
  props: {},
  setup() {
    const data = reactive({});
    const store = useStore();
    const isAdmin = computed(() => store.getters["authStore/isAdmin"]);

    onMounted(() => {
      if (isAdmin.value) {
        store.dispatch("authStore/isTokenValid");
      }
    });

    return {
      ...toRefs(data),
    };
  },
});
</script>

<style lang="scss">
@import "@/style/_colors.scss";

html,
body {
  height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
}

#app {
  background-image: url(https://www.fotowalls.com/WEB-IMAGES/FW/WM/PRINT/JPG-LOW/FW-1054-WM-PRINT.jpg);
  height: 100%;
}

.footer {
  height: 200px;
  background-color: $color_black;
  color: $color_white;
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    a {
      margin-left: 5px;
    }
  }
}

nav {
  &.primary-navigation {
    margin: 0 auto;
    display: block;

    padding: 120px 0 120px 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;

    ul li {
      list-style: none;
      margin: 0 auto;
      display: inline-block;
      padding: 0 30px;
      position: relative;
      text-decoration: none;
      text-align: center;
    }

    li a {
      color: $color_white;
      padding: 15px 20px;
      border-radius: 36px;
    }

    .router-link-active {
      background-color: $color_prime;
    }

    li a:hover {
      background-color: $color_prime;
    }

    li:hover {
      cursor: pointer;
    }

    ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      padding-left: 0;
      left: 0;
      display: none;
      background: white;
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 3px 5px -1px #ccc;
    }

    ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      transition: all 0.3s ease;
    }
  }
}

a {
  text-decoration: none;
}

ul li ul li a {
  transition: all 0.5s ease;
}
</style>
