<template>
  <div>
    <Button
      type="button"
      icon="pi pi-plus"
      iconPos="left"
      label="Ajouter un utilisateur"
      style="margin-bottom: 20px"
      @click="onCreateUserClick()"
    >
    </Button>

    <DataTable :value="userList">
      <Column field="username" header="Name"></Column>
      <Column field="email" header="Email"></Column>
      <Column field="roles" header="Roles">
        <template #body="slotProps">
          <span v-for="(role, index) in slotProps.data.roles" :key="role.name">
            {{ role.name }}
            <span v-if="!(index === slotProps.data.roles.length - 1)">, </span>
          </span>
        </template>
      </Column>
      <Column field="modificationNotes" header="Mise à jour">
        <template #body="slotProps">
          {{
            formatDate(
              slotProps.data.modificationNotes[
                slotProps.data.modificationNotes.length - 1
              ].modificationDate
            )
          }}
        </template>
      </Column>
      <Column
        header="Actions"
        headerStyle="width: 8em"
        bodyStyle="text-align: center"
      >
        <template #body="slotProps">
          <Button
            v-if="!hasAdminRole(slotProps.data.roles)"
            type="button"
            icon="pi pi-pencil"
            class="p-button-primary"
            style="margin-right: 0.5em"
            @click="onEditClick(slotProps.data.id)"
          ></Button>
          <Button
            v-if="hasAdminRole(slotProps.data.roles)"
            type="button"
            icon="pi pi-ban"
            class="p-button-danger"
          ></Button>
          <Button
            v-if="!hasAdminRole(slotProps.data.roles)"
            type="button"
            icon="pi pi-trash"
            class="p-button-danger"
            @click="onDeleteClick(slotProps.data.id)"
          ></Button>
        </template>
      </Column>
    </DataTable>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive, toRefs } from "vue";
import { UserService } from "../../../../../public/components/users/services/user.service";
import { useRouter } from "vue-router";
import { ID } from "../../../../../../lib/models/shared/api.model";
import moment from "moment";
import {
  RoleModel,
  Roles,
  UserModel
} from "../../../../../public/components/users/models/user.model";

export default defineComponent({
  props: {},
  setup() {
    const router = useRouter();
    const service = UserService.getInstance();
    const data = reactive({
      userList: [] as UserModel[]
    });

    function loadUserList(): void {
      service.getUserList().then(
        response => {
          data.userList = response;
        }
        // error => {
        //   data.content =
        //     (error.response && error.response.data) ||
        //     error.message ||
        //     error.toString();
        // }
      );
    }

    function hasAdminRole(roleList: RoleModel[]): boolean {
      return roleList.some(role => role.value === Roles.admin);
    }

    function goToCreateUser(): void {
      router.push({ name: "admin-user-create" });
    }

    function onCreateUserClick(): void {
      goToCreateUser();
    }

    function deleteUser(userId: ID): void {
      service.deleteUser(userId).then(() => loadUserList());
    }

    function onDeleteClick(userId: ID): void {
      deleteUser(userId);
    }

    function goToEdit(userId: ID): void {
      router.push({ name: "admin-user-edit", params: { id: userId } });
    }

    function onEditClick(userId: ID): void {
      goToEdit(userId);
    }

    function formatDate(date: Date): string {
      return moment(date).format("DD/MM/YYYY - HH[h]mm");
    }

    onMounted(() => {
      loadUserList();
    });

    return {
      ...toRefs(data),
      onCreateUserClick,
      onDeleteClick,
      onEditClick,
      hasAdminRole,
      formatDate
    };
  }
});
</script>

<style></style>
