<template>
  <div id="gallery">
    <PublicPages :pageTitle="`Gallery ${currentGallery.galleryName}`">
      <Galleria
        :value="currentGallery.galleryImageList"
        :activeIndex="activeIndex"
        v-model:visible="displayCustom"
        :responsiveOptions="responsiveOptions"
        :numVisible="7"
        containerStyle="max-width: 950px"
        :circular="true"
        :fullScreen="true"
        :showItemNavigators="true"
        :showThumbnails="false"
      >
        <template #item="slotProps">
          <ImageBlock :imageModel="slotProps.item"></ImageBlock>
        </template>
        <template #thumbnail="slotProps">
          <ImageBlock :imageModel="slotProps.item"></ImageBlock>
        </template>
      </Galleria>
      <div v-if="currentGallery" class="p-grid">
        <section
          v-for="(image, index) of currentGallery.galleryImageList"
          class="p-col-12 p-md-8 p-lg-4"
          :key="index"
        >
          <div class="preview-gallery">
            <figure>
              <ImageBlock
                :imageModel="image"
                @input="imageClick(index)"
              ></ImageBlock>
              <figcaption>{{ image.title }}</figcaption>
            </figure>
          </div>
          <PrivateAdminButtons v-if="isAdmin"></PrivateAdminButtons>
        </section>
      </div>
      <PrivateGalleryConsultBlock v-if="isAdmin"></PrivateGalleryConsultBlock>
    </PublicPages>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive, toRefs } from "vue";
import { useStore } from "vuex";
import PrivateAdminButtons from "../../../../private/components/PrivateAdminButtons.vue";
import PrivateGalleryConsultBlock from "../../../../private/components/PrivateGalleryConsultBlock.vue";
import PublicPages from "../../../../public/components/public-pages/PublicPages.vue";
import ImageBlock from "../../../../public/components/public-pages/ImageBlock.vue";

export default defineComponent({
  components: {
    PublicPages,
    PrivateGalleryConsultBlock,
    PrivateAdminButtons,
    ImageBlock,
  },
  props: {
    albumId: {
      type: String,
      required: true,
    },
    galleryId: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const data = reactive({
      activeIndex: 0,
      displayCustom: false,
      responsiveOptions: [
        {
          breakpoint: "1024px",
          numVisible: 5,
        },
        {
          breakpoint: "768px",
          numVisible: 3,
        },
        {
          breakpoint: "560px",
          numVisible: 1,
        },
      ],
    });

    const store = useStore();
    const isAdmin = computed(() => store.getters["authStore/isAdmin"]);

    const currentGallery = computed(
      () => store.getters["galleryStore/getCurrentGallery"]
    );

    onMounted(() => {
      store.dispatch("galleryStore/getGallery", {
        albumId: props.albumId,
        galleryId: props.galleryId,
      });
    });

    function imageClick(index: number): void {
      data.activeIndex = index;
      data.displayCustom = true;
    }

    return {
      ...toRefs(data),
      imageClick,
      currentGallery,
      isAdmin,
    };
  },
});
</script>

<style lang="scss">
@import "@/style/_colors.scss";

#gallery {
  .preview-gallery {
    position: relative;
    overflow: hidden;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color_black;
      transition: background-color 0.15s;
    }

    & img {
      width: 100%;
      height: 100%;
    }

    & figure {
      display: block;
      position: relative;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      & figcaption {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        color: $color_white;
        padding: 10px;
        text-align: center;
        transform: translateY(0);
        opacity: 1;
        transition: all 0.2s;
      }
    }

    &:hover {
      & figure {
        & figcaption {
          opacity: 0;
          transform: translateY(50%);
        }
      }
    }

    &:hover:before {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
</style>
