<template>
  <div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12" style="text-align: center">
        <UploadFile
          :value="model.albumPhoto"
          @uploadFile="onUploadPhoto($event)"
        ></UploadFile>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="albumName">Nom</label>
        <InputText
          id="albumName"
          type="text"
          v-model="model.albumName"
          @change="onChange"
        />
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="albumIsPublished">Status</label>
        <SelectButton
          v-model="model.albumIsPublished"
          :options="status"
          optionLabel="name"
          optionValue="value"
          :multiple="false"
          @click="onChange"
        />
      </div>

      <div class="p-field p-col-12">
        <label for="albumDescription">Description</label>
        <Textarea
          id="albumDescription"
          rows="4"
          v-model="model.albumDescription"
          @change="onChange"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, reactive, toRefs } from "vue";
import _ from "lodash";
import { AlbumModel } from "../../../../../shared/models/album.model";
import { ArtistService } from "../../../../../shared/services/artist.service";
import { ArtistModel } from "../../../../../shared/models/artist.model";
import UploadFile from "../../upload-file/UploadFile.vue";

interface UserFormPropsOption {
  value: AlbumModel;
}

export default defineComponent({
  props: {
    value: {
      type: Object,
      required: true
    }
  },
  components: {
    UploadFile
  },
  setup(props, { emit }) {
    const artistService = ArtistService.getInstance();

    const data = reactive({
      model: _.cloneDeep(props.value),
      status: [
        { name: "Publié", value: true },
        { name: "Non publie", value: false }
      ]
    });

    function onChange(): void {
      emit("input", data.model);
    }

    function onUploadPhoto($event: any) {
      data.model.albumPhoto = $event;
      onChange();
    }
    return {
      ...toRefs(data),
      onChange,
      onUploadPhoto
    };
  }
});
</script>

<style></style>
