<template>
  <div class="p-d-flex p-flex-column p-jc-center p-ai-center">
    <div>
      <h1>Nouvel utilisateur</h1>
    </div>

    <div class="p-mb-2">
      <span class="p-float-label">
        <InputText
          id="username"
          type="text"
          v-model="model.username"
          @change="onChange"
        />
        <label for="username">Username</label>
      </span>
    </div>

    <div class="p-mb-2">
      <span class="p-float-label">
        <InputText
          id="email"
          type="text"
          v-model="model.email"
          @change="onChange"
        />
        <label for="email">Adresse Email</label>
      </span>
    </div>

    <div class="p-mb-2">
      <Password v-model="model.password" @change="onChange" />
    </div>

    <div class="p-mb-2" v-if="isAdmin">
      <SelectButton
        v-model="model.roles"
        :options="roles"
        optionLabel="name"
        :multiple="true"
        @click="onChange"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, reactive, toRefs } from "vue";
import _ from "lodash";
import { useStore } from "vuex";
import {
  RoleList,
  RoleModel,
  Roles,
  UserModel
} from "../../../models/user.model";

interface UserFormPropsOption {
  value: UserModel;
}

export default defineComponent({
  props: {
    value: {
      type: Object,
      required: true
    }
  },
  setup(props, { emit }) {
    const store = useStore();
    const isAdmin = computed(() => store.getters["authStore/isAdmin"]);

    function getRoleList(): RoleModel[] {
      if (isAdmin.value) {
        return RoleList;
      }
      return RoleList.filter(role => role.value !== Roles.admin);
    }

    const data = reactive({
      model: _.cloneDeep(props.value),
      roles: getRoleList()
    });

    function onChange(): void {
      emit("input", data.model);
    }

    return {
      ...toRefs(data),
      onChange,
      isAdmin
    };
  }
});
</script>

<style></style>
