<template>
  <div>
    Artist page
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "vue";
export default defineComponent({
  components: {},
  props: {},
  setup() {
    const data = reactive({});

    return {
      ...toRefs(data)
    };
  }
});
</script>

<style></style>
