<template>
  <div class="upload-container p-d-flex p-flex-column">
    <div v-if="multiple" class="image-container p-col p-mb-2">
      <img
        v-for="image in objectUrlList"
        :key="image"
        class="image-picture"
        role="presentation"
        :alt="image.imgSrc.name"
        :src="image.imgSrc"
      />
    </div>

    <div v-if="imgSrc" class="image-container p-col p-mb-2">
      <img
        class="image-picture"
        role="presentation"
        :alt="imgSrc.name"
        :src="imgSrc"
      />
    </div>
    <div class="p-col p-mb-2">
      <div class="upload-btn-wrapper">
        <button class="btn">Choisir une photo</button>
        <input type="file" name="file" @change="onUpload($event)" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, reactive, toRefs, onMounted } from "vue";
import _ from "lodash";
import { ImageModel } from "../../../../shared/models/common.model";

interface UploadFilePropsOption {
  value: ImageModel;
}

interface UrlModel {
  imgSrc: string;
}

export default defineComponent({
  props: {
    value: {
      type: Object,
      required: false
    },
    multiple: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  setup(props, { emit }) {
    const data = reactive({
      model: _.cloneDeep(props.value),
      imgSrc: "",
      files: [] as any[],
      objectUrlList: [] as UrlModel[]
    });

    onMounted(() => {
      if (data.model) {
        data.imgSrc = data.model.img;
      }
    });

    function isImage(file: any) {
      return /^image\//.test(file.type);
    }

    function onUpload(event: any) {
      if (isImage(event.target.files[0])) {
        if (props.multiple) {
          data.files.push(event.target.files);
          data.objectUrlList.push({
            imgSrc: window.URL.createObjectURL(event.target.files[0])
          });
          emit("uploadFile", data.files);
        } else {
          data.imgSrc = window.URL.createObjectURL(event.target.files[0]);
          emit("uploadFile", event.target.files);
        }
      } else {
        throw new Error("File is not an image");
      }
    }

    return {
      ...toRefs(data),
      onUpload
    };
  }
});
</script>

<style lang="scss">
.upload-container {
  .image-container {
    height: 200px;
    .image-picture {
      width: 215px;
      height: 100%;
      border-radius: 50px;
    }
  }
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }

  .upload-btn-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}
</style>
