<template>
  <div>
    <form
      method="post"
      @submit.prevent="saveAlbumClick"
      enctype="multipart/form-data"
      v-if="!loading"
    >
      <AlbumForm :value="albumModel" @input="onInputChange"></AlbumForm>

      <component
        @onChangeComponent="onChangeComponent"
        :is="currentTabComponent.component"
        v-bind="currentTabComponent.properties"
      ></component>

      <div>
        <Button
          type="button"
          class="p-button-danger"
          label="Annuler"
          style="margin-bottom: 20px; margin-right: 20px"
        >
        </Button>
        <Button
          icon="pi pi-save"
          iconPos="left"
          label="Enregistrer"
          style="margin-bottom: 20px"
          type="submit"
        >
        </Button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive, toRefs } from "vue";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import { AlbumModel } from "../../../../../shared/models/album.model";
import { AlbumService } from "../../../../../shared/services/album.service";
import { ImageService } from "../../../../../shared/services/image.service";
import AlbumForm from "../shared/AlbumForm.vue";
import GalleryList from "../../gallery/list/GalleryList.vue";
import GalleryCreate from "../../gallery/create/GalleryCreate.vue";
import { GalleryModel } from "../../../../../shared/models/gallery.model";

export default defineComponent({
  props: {
    id: {
      type: String,
      required: true
    },
    albumId: {
      type: String,
      required: true
    }
  },
  components: {
    AlbumForm
  },
  setup(props) {
    const router = useRouter();
    const store = useStore();
    const service = AlbumService.getInstance();

    const data = reactive({
      loading: true,
      albumModel: {} as AlbumModel,
      currentTabComponent: "GalleryList",
      properties: {} as any
    });

    const currentTabComponent = computed(() => {
      if (!data.currentTabComponent) {
        return undefined;
      }
      switch (data.currentTabComponent) {
        case "GalleryList":
          return {
            component: GalleryList,
            properties: Object.assign(
              {
                value: data.albumModel.albumGalleries,
                artistId: props.id,
                albumId: props.albumId
              },
              data.properties
            )
          };

        case "GalleryCreate":
          return {
            component: GalleryCreate,
            properties: Object.assign(
              { artistId: props.id, albumId: props.albumId },
              data.properties
            )
          };
      }
    });

    function onChangeComponent(event: string, eventProperties?: {}) {
      data.currentTabComponent = event;
      data.properties = eventProperties;
    }

    function saveAlbum(): void {
      console.log("editAlbum");
    }

    function saveAlbumClick(): void {
      saveAlbum();
    }

    function onInputChange($event: AlbumModel) {
      data.albumModel = $event;
    }

    onMounted(() => {
      service.getAlbum(props.id, props.albumId).then(albumModel => {
        data.albumModel = albumModel;
        data.loading = false;
      });
    });

    return {
      ...toRefs(data),
      onInputChange,
      saveAlbumClick,
      onChangeComponent,
      currentTabComponent
    };
  }
});
</script>

<style></style>
