$container_small: 768px;
$container_medium: 992px;
$container_large: 1200px;
$container_min_height: calc(100vh - 280px);


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $container_small) {
    .container {
      width: 750px;
    }
  }

  @media (min-width: $container_medium) {
    .container {
      width: 970px;
    }
  }

  @media (min-width: $container_large) {
    .container {
      width: 1170px;
    }
  }