<template>
  <div>
    <PublicPages :pageTitle="`Galleries de l'album ${album.albumName}`">
      <GalleryList></GalleryList>
    </PublicPages>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive, toRefs } from "vue";
import { useStore } from "vuex";
import PublicPages from "../../../../public/components/public-pages/PublicPages.vue";
import GalleryList from "../../gallery/list/GalleryList.vue";

export default defineComponent({
  components: {
    GalleryList,
    PublicPages
  },
  props: {
    albumId: {
      type: String,
      required: true
    }
  },
  setup(props) {
    const data = reactive({
      loading: true
    });
    const store = useStore();
    const album = computed(() => store.getters["albumStore/getAlbum"]);
    onMounted(() => {
      store.dispatch("albumStore/getAlbum", props.albumId);
    });
    return {
      ...toRefs(data),
      album
    };
  }
});
</script>

<style>
.img-container {
  max-width: 100%;
}
</style>
