<template>
  <div>
    <Button
      type="button"
      icon="pi pi-plus"
      iconPos="left"
      label="Ajouter un album"
      style="margin-bottom: 20px"
      @click="loadAlbumCreateComponent()"
      v-if="albumList.length"
    >
    </Button>

    <div class="p-d-flex p-flex-column p-jc-center p-ai-center">
      <Button
        type="button"
        icon="pi pi-plus"
        iconPos="left"
        label="Créer votre premier album"
        class="p-jc-center p-ai-center"
        @click="loadAlbumCreateComponent()"
        v-if="!albumList.length"
      >
      </Button>
    </div>

    <DataTable v-if="albumList.length" :value="albumList">
      <!-- <Column
        field="isPublished"
        header="Status"
        headerStyle="width: 5em"
        bodyStyle="text-align: center"
      >
        <template #body="slotProps">
          <i
            class="pi pi-circle-on"
            :style="{
              color: slotProps.data.isPublished ? 'green' : 'red',
            }"
          ></i>
        </template>
      </Column> -->
      <Column field="albumName" header="Name"></Column>
      <Column field="albumPhoto" header="Photo">
        <template #body="slotProps">
          {{
            formatDate(
              slotProps.data.modificationNotes[
                slotProps.data.modificationNotes.length - 1
              ].modificationDate
            )
          }}
        </template>
      </Column>
      <Column header="Actions" headerStyle="width: 8em">
        <template #body="slotProps">
          <Button
            type="button"
            icon="pi pi-pencil"
            class="p-button-primary"
            style="margin-right: 0.5em"
            @click="loadAlbumEditComponent(slotProps.data.id)"
          ></Button>
          <Button
            type="button"
            icon="pi pi-trash"
            class="p-button-danger"
            @click="onDeleteClick(slotProps.data.id)"
          ></Button>
        </template>
      </Column>
    </DataTable>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive, toRefs } from "vue";
import moment from "moment";
import { useRouter } from "vue-router";
import { ID } from "../../../../../../lib/models/shared/api.model";
import { AlbumService } from "../../../../../shared/services/album.service";
import { AlbumModel } from "../../../../../shared/models/album.model";

interface AlbumListPropsOption {
  value: AlbumModel[];
}

export default defineComponent({
  props: {
    value: {
      type: Object,
      required: false
    }
  },
  setup(props, { emit }) {
    const data = reactive({
      albumList: props.value ? props.value : ([] as AlbumModel[])
    });
    const router = useRouter();
    const service = AlbumService.getInstance();

    onMounted(() => {
      if (!props.value) {
        service.getAlbumList().then(albumList => (data.albumList = albumList));
      }
    });

    function loadAlbumCreateComponent() {
      emit("onChangeComponent", "AlbumCreate");
    }

    function loadAlbumEditComponent(albumId: ID) {
      emit("onChangeComponent", "AlbumEdit", { albumId });
    }

    function deleteAlbum(albumId: ID): void {
      service.deleteAlbum(albumId);
    }

    function onDeleteClick(albumId: ID): void {
      deleteAlbum(albumId);
    }

    function formatDate(date: Date): string {
      return moment(date).format("DD/MM/YYYY - HH[h]mm");
    }

    return {
      ...toRefs(data),
      formatDate,
      onDeleteClick,
      loadAlbumCreateComponent,
      loadAlbumEditComponent
    };
  }
});
</script>

<style lang="scss">
// .album-list-container {}
</style>
