<template>
  <div v-if="!loading">
    <div class="artist-form-title">
      <p>Edition de l'artiste {{ artistModel.artistName }}</p>
    </div>
    <TabView class="tabview-custom">
      <TabPanel>
        <template #header>
          <i class="pi pi-calendar"></i>
          <span>Informations</span>
        </template>

        <ArtistForm :value="artistModel" @input="onInputChange"></ArtistForm>

        <div>
          <Button
            type="button"
            class="p-button-danger"
            label="Annuler"
            style="margin-bottom: 20px; margin-right: 20px"
          >
          </Button>
          <Button
            type="button"
            icon="pi pi-save"
            iconPos="left"
            label="Enregistrer"
            style="margin-bottom: 20px"
            @click="updateArtistClick()"
          >
          </Button>
        </div>
      </TabPanel>
      <TabPanel>
        <template #header>
          <span>Albums</span>
          <i class="pi pi-user"></i>
        </template>

        <component
          @onChangeComponent="onChangeComponent"
          :is="currentTabComponent.component"
          v-bind="currentTabComponent.properties"
        ></component>
      </TabPanel>
    </TabView>
  </div>
</template>

<script lang="ts">
import {
  Component,
  computed,
  defineComponent,
  onMounted,
  reactive,
  toRefs,
  watch
} from "vue";
import ArtistForm from "../../../../shared/components/artist/shared/components/ArtistForm.vue";
import AlbumList from "../../../../shared/components/albums/list/AlbumList.vue";
import AlbumCreate from "../../../../shared/components/albums/create/AlbumCreate.vue";
import AlbumEdit from "../../../../shared/components/albums/edit/AlbumEdit.vue";

import _ from "lodash";
import { useRouter } from "vue-router";
import { ArtistService } from "../../../../../shared/services/artist.service";
import { ArtistModel } from "../../../../../shared/models/artist.model";
import { useStore } from "vuex";
import { ImageService } from "../../../../../shared/services/image.service";
import { ID } from "../../../../../../lib/models/shared/api.model";

export default defineComponent({
  props: {
    id: {
      type: String,
      required: true
    }
  },
  components: {
    ArtistForm,
    AlbumList,
    AlbumCreate,
    AlbumEdit
  },
  setup(props) {
    const service = ArtistService.getInstance();
    const imageService = ImageService.getInstance();
    const router = useRouter();
    const store = useStore();
    const data = reactive({
      artistModel: {} as ArtistModel,
      loading: true,
      currentTabComponent: "AlbumList",
      properties: {} as any
    });

    const currentTabComponent = computed(() => {
      if (!data.currentTabComponent) {
        return undefined;
      }
      switch (data.currentTabComponent) {
        case "AlbumList":
          return {
            component: AlbumList,
            properties: Object.assign(
              { value: data.artistModel.artistAlbums },
              data.properties
            )
          };
        case "AlbumCreate":
          return {
            component: AlbumCreate,
            properties: Object.assign(
              { id: data.artistModel.id },
              data.properties
            )
          };
        case "AlbumEdit":
          return {
            component: AlbumEdit,
            properties: Object.assign(
              { id: data.artistModel.id },
              data.properties
            )
          };
        default:
          throw new Error(`unknown component type ${data.currentTabComponent}`);
      }
    });

    function onChangeComponent(event: string, eventProperties?: {}) {
      data.currentTabComponent = event;
      data.properties = eventProperties;
    }

    function updateArtist(): void {
      // if (data.artistModel.artistPhoto instanceof FileList) {
      //   imageService
      //     .postImage(data.artistModel.artistPhoto)
      //     .then(artistPhoto => artistPhoto)
      //     .then(artistPhoto => {
      //       data.artistModel.artistPhoto = artistPhoto;
      //       store
      //         .dispatch("artistStore/putArtist", data.artistModel)
      //         .then(() => router.push({ name: "admin-artists" }));
      //     });
      // } else {
      //   store
      //     .dispatch("artistStore/putArtist", data.artistModel)
      //     .then(() => router.push({ name: "admin-artists" }));
      // }
    }

    function updateArtistClick(): void {
      updateArtist();
    }

    function onInputChange($event: any) {
      data.artistModel = $event;
    }

    onMounted(() => {
      service.getArtist(props.id).then(artistModel => {
        data.artistModel = artistModel;
        data.loading = false;
      });
    });

    return {
      ...toRefs(data),
      onInputChange,
      updateArtistClick,
      currentTabComponent,
      onChangeComponent
    };
  }
});
</script>

<style lang="scss">
.artist-form-title {
  font-weight: 300;
  font-style: normal;
  font-family: Roboto;
  color: #31384a;
  font-size: 60px;
  line-height: 1;
  letter-spacing: 0px;
  p {
    text-align: center;
  }
}
</style>
