<template>
  <div>
    <div class="p-grid">
      <GalleryBlock
        class="p-col-12 p-md-8 p-lg-4"
        v-for="gallery in album.albumGalleries"
        :key="gallery"
        :galleryModel="gallery"
        @click="onGalleryClick(gallery.id)"
      ></GalleryBlock>
    </div>
    <PrivateGalleryBlock v-if="isAdmin"></PrivateGalleryBlock>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, reactive, toRefs } from "vue";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import { ID } from "../../../../../lib/models/shared/api.model";
import PrivateGalleryBlock from "../../../../private/components/PrivateGalleryBlock.vue";
import GalleryBlock from "../../../../public/components/public-pages/GalleryBlock.vue";

export default defineComponent({
  components: {
    GalleryBlock,
    PrivateGalleryBlock
  },
  props: {},
  setup(props) {
    const data = reactive({});
    const router = useRouter();
    const store = useStore();
    const album = computed(() => store.getters["albumStore/getAlbum"]);
    const isAdmin = computed(() => store.getters["authStore/isAdmin"]);

    function goToGallery(galleryId: ID) {
      router.push({
        name: "album-gallery-consult",
        params: { albumId: album.value._id, galleryId: galleryId }
      });
    }

    function onGalleryClick(galleryId: ID) {
      goToGallery(galleryId);
    }

    return {
      ...toRefs(data),
      album,
      onGalleryClick,
      isAdmin
    };
  }
});
</script>

<style></style>
