<template>
  <div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12" style="text-align: center">
        <UploadFile
          :value="model.galleryPhoto"
          @uploadFile="onUploadPhoto($event)"
        ></UploadFile>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="galleryName">Nom</label>
        <InputText
          id="galleryName"
          type="text"
          v-model="model.galleryName"
          @change="onChange"
        />
      </div>

      <div class="p-field p-col-12">
        <label for="albumDescription">Description</label>
        <Textarea
          id="galleryDescription"
          rows="4"
          v-model="model.galleryDescription"
          @change="onChange"
        />
      </div>

      <div class="p-field p-col-12">
        <UploadFile
          :value="model.galleryPhoto"
          :multiple="true"
          @uploadFile="uploadImageGalleryList($event)"
        ></UploadFile>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, reactive, toRefs } from "vue";
import _ from "lodash";
import { useStore } from "vuex";
import { AlbumModel } from "../../../../../shared/models/album.model";
import { GalleryService } from "../../../../../shared/services/gallery.service";
import { GalleryModel } from "../../../../../shared/models/gallery.model";
import UploadFile from "../../upload-file/UploadFile.vue";

interface GalleryFormPropsOption {
  value: GalleryModel;
}

export default defineComponent({
  props: {
    value: {
      type: Object,
      required: true
    }
  },
  components: {
    UploadFile
  },
  setup(props, { emit }) {
    const store = useStore();
    const galleryService = GalleryService.getInstance();

    const data = reactive({
      model: _.cloneDeep(props.value)
    });

    function onChange(): void {
      emit("input", data.model);
    }

    function onUploadPhoto($event: any) {
      data.model.galleryPhoto = $event;
      onChange();
    }

    function uploadImageGalleryList(event: any[]) {
      data.model.galleryImageList = event;
      onChange();
    }

    return {
      ...toRefs(data),
      onChange,
      onUploadPhoto,
      uploadImageGalleryList
    };
  }
});
</script>

<style></style>
