<template>
  <div class="p-mb-4 p-mt-4">
    <div class="p-d-flex p-jc-center">
      <Button
        label="Enregistrer"
        class="p-button-raised p-mr-2"
        icon="pi pi-pencil"
        v-if="editMode"
      />

      <Button
        label="Editer"
        class="p-button-raised p-mr-2"
        icon="pi pi-pencil"
        @click="onEditClick()"
        v-if="!editMode"
      />

      <Button
        label="Supprimer"
        class="p-button-raised p-button-danger"
        icon="pi pi-trash"
        @click="onDeleteClick()"
        v-if="!editMode"
      />
    </div>
    <ConfirmDialog></ConfirmDialog>
    <Toast />
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "vue";
import { useConfirm } from "primevue/useconfirm";
import { useToast } from "primevue/usetoast";
import { AlbumService } from "../../shared/services/album.service";

export default defineComponent({
  components: {},
  props: {},
  setup(_, {emit}) {
    const data = reactive({
      editMode: false
    });

    const confirm = useConfirm();
    const toast = useToast();
    const service = AlbumService.getInstance();

    function deleteAction(): void {
      confirm.require({
        message: "Are you sure you want to proceed?",
        header: "Confirmation",
        icon: "pi pi-exclamation-triangle",
        accept: () => {
          console.log("accept");
          toast.add({
            severity: "info",
            summary: "Info Message",
            detail: "Message Content",
            life: 3000
          });
          service.deleteAlbum("600478e3b6910e4734b8f731");
        },
        reject: () => {
          console.log("rejcet");
          toast.add({
            severity: "info",
            summary: "Info Message",
            detail: "Message Content",
            life: 3000
          });

          confirm.close();
        }
      });
    }

    function onDeleteClick(): void {
      deleteAction();
    }

    function editAction(): void {
      data.editMode = true;
      emit('onEditClick');
    }

    function onEditClick(): void {
      editAction();
    }

    return {
      ...toRefs(data),
      onDeleteClick,
      onEditClick
    };
  }
});
</script>

<style lang="scss"></style>
