<template>
  <div>
    <div class="p-d-flex p-jc-center" v-if="!showCreateImageForm">
      <Button
        label="Insérer une image"
        class="p-button-raised"
        icon="pi pi-plus"
        @click="onShowFormClick()"
      />
    </div>

    <div
      id="private-block-container"
      class="p-col-4"
      v-if="showCreateImageForm"
    >
      <div class="p-grid p-jc-center">
        <UploadFile @uploadFile="onUploadPhoto($event)"></UploadFile>

        <InputText
          v-if="isPhotoUploaded"
          id="galleryPhotoAlt"
          type="text"
          v-model="imagePhoto.alt"
        />

        <InputText
          v-if="isPhotoUploaded"
          id="galleryPhotoTitle"
          type="text"
          v-model="imagePhoto.title"
        />
      </div>
    </div>

    <div class="p-d-flex p-jc-center" v-if="showCreateImageForm">
      <Button
        label="Annuler"
        class="p-button-raised p-button-danger p-mr-2"
        icon="pi pi-trash"
        @click="onShowFormClick(true)"
      />
      <Button
        label="Sauvegarder"
        class="p-button-raised"
        icon="pi pi-check"
        @click="saveGallerylick()"
      />
    </div>
  </div>
</template>

<script lang="ts">
import _ from "lodash";
import { computed, defineComponent, reactive, toRefs } from "vue";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import UploadFile from "../../dashboard/shared/components/upload-file/UploadFile.vue";
import { CreateImageModel } from "../../shared/models/common.model";
import { GalleryModel } from "../../shared/models/gallery.model";
import { ImageService } from "../../shared/services/image.service";

export default defineComponent({
  components: {
    UploadFile,
  },
  props: {},
  setup() {
    function loadEmptyImageParams(): CreateImageModel {
      return {
        file: {} as FileList,
        alt: "",
        title: "",
      };
    }

    const data = reactive({
      imagePhoto: loadEmptyImageParams(),
      isPhotoUploaded: false,
      showCreateImageForm: false,
      galleryModel: {} as GalleryModel,
    });

    const store = useStore();
    const router = useRouter();
    const imageService = ImageService.getInstance();
    const currentGallery = computed(
      () => store.getters["galleryStore/getCurrentGallery"]
    );

    function onUploadPhoto(imagePhoto: FileList): void {
      data.imagePhoto.file = imagePhoto;
      data.isPhotoUploaded = true;
      data.galleryModel = _.cloneDeep(currentGallery.value);
    }

    function saveGallery(): void {
      if (data.imagePhoto.file instanceof FileList) {
        imageService
          .postImage(data.imagePhoto)
          .then((galleryPhoto) => galleryPhoto)
          .then((galleryPhoto) => {
            data.galleryModel.galleryImageList.push(galleryPhoto);
            console.log(" data.galleryModel", data.galleryModel);
            store
              .dispatch("galleryStore/putGallery", {
                albumId: String(router.currentRoute.value.params.albumId),
                galleryModel: data.galleryModel,
              })
              .then(() => {
                data.imagePhoto = loadEmptyImageParams();
                data.showCreateImageForm = false;
              });
          });
      }
    }

    function saveGallerylick(): void {
      saveGallery();
    }

    function showForm(): void {
      data.showCreateImageForm = !data.showCreateImageForm;
    }

    function onShowFormClick(reloadData?: boolean): void {
      showForm();
    }

    return {
      ...toRefs(data),
      onShowFormClick,
      onUploadPhoto,
      saveGallerylick,
    };
  },
});
</script>

<style lang="scss">
@import "@/style/_colors.scss";

#private-block-container {
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px $color_prime;
  margin-bottom: 2.5%;
  background: $color_white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  padding: 30px;
}
</style>
