<template>
  <div>
    <div class="p-d-flex p-jc-center" v-if="!showCreateAlbumForm">
      <Button
        label="Créer un album"
        class="p-button-raised"
        icon="pi pi-plus"
        @click="onShowFormClick()"
      />
    </div>

    <div id="private-block-container" v-if="showCreateAlbumForm">
      <div class="meta">
        <UploadFile @uploadFile="onUploadPhoto($event)"></UploadFile>

        <InputText
          v-if="isPhotoUploaded"
          id="albumPhotoAlt"
          type="text"
          v-model="albumPhoto.alt"
        />

        <InputText
          v-if="isPhotoUploaded"
          id="albumPhotoTitle"
          type="text"
          v-model="albumPhoto.title"
        />
      </div>
      <div class="description">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-6">
            <InputText
              id="albumName"
              type="text"
              v-model="albumModel.albumName"
            />
          </div>
          <div class="p-field p-col-12 p-md-6">
            <SelectButton
              v-model="albumModel.albumIsPublished"
              :options="status"
              optionLabel="name"
              optionValue="value"
              :multiple="false"
            />
          </div>
          <div class="p-field p-col-12">
            <Textarea
              id="albumDescription"
              rows="11"
              v-model="albumModel.albumDescription"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="p-d-flex p-jc-center" v-if="showCreateAlbumForm">
      <Button
        label="Annuler"
        class="p-button-raised p-button-danger p-mr-2"
        icon="pi pi-trash"
        @click="onShowFormClick(true)"
      />
      <Button
        label="Sauvegarder"
        class="p-button-raised"
        icon="pi pi-check"
        @click="saveAlbumClick()"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "vue";
import { useStore } from "vuex";
import UploadFile from "../../dashboard/shared/components/upload-file/UploadFile.vue";
import { AlbumModel } from "../../shared/models/album.model";
import { CreateImageModel, ImageModel } from "../../shared/models/common.model";
import { ImageService } from "../../shared/services/image.service";
export default defineComponent({
  components: {
    UploadFile
  },
  props: {},
  setup() {
    function loadEmptyAlbumParams(): AlbumModel {
      return {
        albumName: "",
        albumPhoto: {} as ImageModel,
        albumIsPublished: true,
        albumDescription: "",
        modificationNotes: []
      };
    }

    function loadEmptyImageParams(): CreateImageModel {
      return {
        file: {} as FileList,
        alt: "",
        title: ""
      };
    }

    const data = reactive({
      albumModel: loadEmptyAlbumParams(),
      albumPhoto: loadEmptyImageParams(),
      status: [
        { name: "Publié", value: true },
        { name: "Non publie", value: false }
      ],
      isPhotoUploaded: false,
      showCreateAlbumForm: false
    });
    const store = useStore();
    const imageService = ImageService.getInstance();

    function onUploadPhoto(albumPhoto: FileList): void {
      data.albumPhoto.file = albumPhoto;
      data.isPhotoUploaded = true;
    }

    function saveAlbum(): void {
      if (data.albumPhoto.file instanceof FileList) {
        imageService
          .postImage(data.albumPhoto)
          .then(albumPhoto => albumPhoto)
          .then(albumPhoto => {
            data.albumModel.albumPhoto = albumPhoto;
            store.dispatch("albumStore/postAlbum", data.albumModel).then(() => {
              data.albumModel = loadEmptyAlbumParams();
              data.albumPhoto = loadEmptyImageParams();
              data.showCreateAlbumForm = false;
            });
          });
      }
    }

    function saveAlbumClick(): void {
      saveAlbum();
    }

    function showForm(): void {
      data.showCreateAlbumForm = !data.showCreateAlbumForm;
    }

    function onShowFormClick(reloadData?: boolean): void {
      if (reloadData) {
        data.albumModel = loadEmptyAlbumParams();
        data.albumPhoto = loadEmptyImageParams();
      }
      showForm();
    }

    return {
      ...toRefs(data),
      onUploadPhoto,
      saveAlbumClick,
      onShowFormClick
    };
  }
});
</script>

<style lang="scss">
@import "@/style/_colors.scss";

#private-block-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px $color_prime;
  margin-bottom: 2.5%;
  background: $color_white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  padding: 30px;
  a {
    color: inherit;
    &:hover {
      color: $color_prime;
    }
  }
  &:hover {
    .photo {
      transform: scale(1.3) rotate(3deg);
    }
  }
  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
    text-align: center;
  }
  .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
  }

  .description {
    padding: 1rem;
    background: $color_white;
    position: relative;
    z-index: 1;
    h1,
    h2 {
      font-family: Poppins, sans-serif;
    }
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
    }
    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $color_grey_dark;
      margin-top: 5px;
    }
    .read-more {
      text-align: right;
      a {
        color: $color_prime;
        display: inline-block;
        position: relative;
      }
    }
  }
  p {
    position: relative;
    margin: 1rem 0 0;
    &:first-of-type {
      margin-top: 1.25rem;
      &:before {
        content: "";
        position: absolute;
        height: 5px;
        background: $color_prime;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px;
      }
    }
  }

  @media (min-width: 640px) {
    flex-direction: row;
    .meta {
      flex-basis: 40%;
      height: auto;
    }
    .description {
      flex-basis: 60%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: $color_white;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg);
        }
      }
    }
  }
}
</style>
