<template>
  <div>
    <div class="p-d-flex p-jc-center" v-if="!showCreateGalleryForm">
      <Button
        label="Créer une gallerie"
        class="p-button-raised"
        icon="pi pi-plus"
        @click="onShowFormClick()"
      />
    </div>

    <div
      id="private-block-container"
      class="p-grid"
      v-if="showCreateGalleryForm"
    >
      <div class="p-col">
        <UploadFile @uploadFile="onUploadPhoto($event)"></UploadFile>

        <InputText
          v-if="isPhotoUploaded"
          id="galleryPhotoAlt"
          type="text"
          v-model="galleryPhoto.alt"
        />

        <InputText
          v-if="isPhotoUploaded"
          id="galleryPhotoTitle"
          type="text"
          v-model="galleryPhoto.title"
        />
      </div>
      <div class="p-col">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12">
            <InputText
              id="galleryName"
              type="text"
              v-model="galleryModel.galleryName"
            />
          </div>
          <div class="p-field p-col-12">
            <Textarea
              id="galleryDescription"
              rows="11"
              v-model="galleryModel.galleryDescription"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="p-d-flex p-jc-center" v-if="showCreateGalleryForm">
      <Button
        label="Annuler"
        class="p-button-raised p-button-danger p-mr-2"
        icon="pi pi-trash"
        @click="onShowFormClick(true)"
      />
      <Button
        label="Sauvegarder"
        class="p-button-raised"
        icon="pi pi-check"
        @click="saveGallerylick()"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "vue";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import UploadFile from "../../dashboard/shared/components/upload-file/UploadFile.vue";
import { CreateImageModel, ImageModel } from "../../shared/models/common.model";
import { GalleryModel } from "../../shared/models/gallery.model";
import { ImageService } from "../../shared/services/image.service";
export default defineComponent({
  components: {
    UploadFile,
  },
  props: {},
  setup() {
    function loadEmptyGalleryParams(): GalleryModel {
      return {
        galleryName: "",
        galleryDescription: "",
        galleryPhoto: {} as ImageModel,
        galleryImageList: [] as ImageModel[],
        modificationNotes: [],
      };
    }

    function loadEmptyImageParams(): CreateImageModel {
      return {
        file: {} as FileList,
        alt: "",
        title: "",
      };
    }

    const data = reactive({
      galleryModel: loadEmptyGalleryParams(),
      galleryPhoto: loadEmptyImageParams(),
      isPhotoUploaded: false,
      showCreateGalleryForm: false,
    });
    const store = useStore();
    const imageService = ImageService.getInstance();
    const router = useRouter();

    function onUploadPhoto(galleryPhoto: FileList): void {
      data.galleryPhoto.file = galleryPhoto;
      data.isPhotoUploaded = true;
    }

    function saveGallery(): void {
      if (data.galleryPhoto.file instanceof FileList) {
        imageService
          .postImage(data.galleryPhoto)
          .then((galleryPhoto) => galleryPhoto)
          .then((galleryPhoto) => {
            data.galleryModel.galleryPhoto = galleryPhoto;

            store
              .dispatch("galleryStore/postGallery", {
                albumId: String(router.currentRoute.value.params.albumId),
                galleryModel: data.galleryModel,
              })
              .then(() => {
                data.galleryModel = loadEmptyGalleryParams();
                data.galleryPhoto = loadEmptyImageParams();
                data.showCreateGalleryForm = false;
              });
          });
      }
    }

    function saveGallerylick(): void {
      saveGallery();
    }

    function showForm(): void {
      data.showCreateGalleryForm = !data.showCreateGalleryForm;
    }

    function onShowFormClick(reloadData?: boolean): void {
      if (reloadData) {
        data.galleryModel = loadEmptyGalleryParams();
        data.galleryPhoto = loadEmptyImageParams();
      }
      showForm();
    }

    return {
      ...toRefs(data),
      onUploadPhoto,
      saveGallerylick,
      onShowFormClick,
    };
  },
});
</script>

<style lang="scss">
@import "@/style/_colors.scss";

#private-block-container {
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px $color_prime;
  margin-bottom: 2.5%;
  background: $color_white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  padding: 30px;
}
</style>
