<template>
  <div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12" style="text-align: center">
        <UploadFile
          :value="model.artistPhoto"
          @uploadFile="onUploadPhoto($event)"
        ></UploadFile>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="artistFirstname">Prénom</label>
        <InputText
          id="artistFirstname"
          type="text"
          v-model="model.artistFirstname"
          @change="onChange"
        />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="artistLastname">Nom</label>
        <InputText
          id="artistLastname"
          type="text"
          v-model="model.artistLastname"
          @change="onChange"
        />
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="artistName">Nom d'Artiste</label>
        <InputText
          id="artistName"
          type="text"
          v-model="model.artistName"
          @change="onChange"
        />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="artistEmail">Email</label>
        <InputText
          id="artistEmail"
          type="text"
          v-model="model.artistEmail"
          @change="onChange"
        />
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="artistPassword">Mot de passe</label>
        <Password v-model="model.artistPassword" @change="onChange" />
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="artistWebsite">Site web</label>
        <InputText
          id="artistWebsite"
          type="text"
          v-model="model.artistWebsite"
          @change="onChange"
        />
      </div>

      <div class="p-field p-col-12">
        <label for="artistDescription">Description</label>
        <Textarea
          id="artistDescription"
          rows="4"
          v-model="model.artistDescription"
          @change="onChange"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, reactive, toRefs } from "vue";
import _ from "lodash";
import { useStore } from "vuex";
import { ArtistModel } from "../../../../../../shared/models/artist.model";
import UploadFile from "../../../upload-file/UploadFile.vue";

interface UserFormPropsOption {
  value: ArtistModel;
}

export default defineComponent({
  components: {
    UploadFile
  },
  props: {
    value: {
      type: Object,
      required: true
    }
  },
  setup(props, { emit }) {
    const store = useStore();
    const data = reactive({
      model: _.cloneDeep(props.value)
    });

    function onChange(): void {
      emit("input", data.model);
    }

    function onUploadPhoto($event: any) {
      data.model.artistPhoto = $event;
      onChange();
    }

    return {
      ...toRefs(data),
      onChange,
      onUploadPhoto
    };
  }
});
</script>

<style lang="scss"></style>
