<template>
  <div>
    <div class="card card-container">
      <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      />
      <form name="form" @submit.prevent="handleLogin">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            v-model="user.email"
            type="text"
            class="form-control"
            name="email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            v-model="user.password"
            type="password"
            class="form-control"
            name="password"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" :disabled="loading">
            <span
              v-show="loading"
              class="spinner-border spinner-border-sm"
            ></span>
            <span>Login</span>
          </button>
        </div>
        <div class="form-group">
          <div v-if="message" class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, reactive, toRefs } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { SigninModel } from "../models/auth.model";

export default defineComponent({
  props: {},
  setup() {
    const store = useStore();
    const data = reactive({
      user: { email: "", password: "" } as SigninModel, // CREATE USER INTERFACE
      loading: false,
      message: ""
    });
    const router = useRouter();
    const isLoggedIn = computed(() => store.getters["authStore/isLoggedIn"]);

    function created(): void {
      if (isLoggedIn.value) {
        router.push("/profile");
      }
    }

    function handleLogin(): void {
      // TODO: VEE VALIDATE
      data.loading = true;
      if (data.user.email && data.user.password) {
        store.dispatch("authStore/login", data.user).then(
          () => {
            router.push("/profile");
          },
          error => {
            data.loading = false;
            data.message = error;
          }
        );
      }
      // });
    }

    return {
      ...toRefs(data),
      created,
      handleLogin,
      isLoggedIn
    };
  }
});
</script>

<style></style>
