<template>
  <div class="container">
    <UserForm
      v-if="!loading"
      :value="userModel"
      @input="onInputChange"
    ></UserForm>

    <div>
      <Button
        type="button"
        class="p-button-danger"
        label="Annuler"
        style="margin-bottom: 20px; margin-right: 20px"
      >
      </Button>
      <Button
        type="button"
        icon="pi pi-save"
        iconPos="left"
        label="Enregistrer"
        style="margin-bottom: 20px"
        @click="updateUserClick()"
      >
      </Button>
    </div>
  </div>
</template>
<script lang="ts">
import { computed, defineComponent, onMounted, reactive, toRefs } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import UserForm from "../../users/components/shared/components/UserForm.vue";
import { UserService } from "../../users/services/user.service";
import { UserModel } from "../../users/models/user.model";

export default defineComponent({
  components: {
    UserForm
  },
  props: {},
  setup() {
    const store = useStore();
    const service = UserService.getInstance();
    const data = reactive({
      userModel: {} as UserModel,
      loading: true
    });
    const router = useRouter();
    const currentUser = computed(() => store.state.authStore.user);

    onMounted(() => {
      if (!currentUser.value) {
        router.push("/login");
      }
      service.getUser(currentUser.value.id).then(userModel => {
        data.userModel = userModel;
        data.loading = false;
      });
    });

    function updateUser(): void {
      service.updateUser(data.userModel).then(user => {
        store.dispatch("authStore/updateUser", user);
      });
    }

    function updateUserClick(): void {
      updateUser();
    }

    function onInputChange($event: any) {
      data.userModel = $event;
    }

    return {
      ...toRefs(data),
      onInputChange,
      updateUserClick
    };
  }
});
</script>

<style></style>
