<template>
  <div class="col-md-12">
    <UserForm :value="userModel" @input="onInputChange"></UserForm>

    <div>
      <Button
        type="button"
        class="p-button-danger"
        label="Annuler"
        style="margin-bottom: 20px; margin-right: 20px"
      >
      </Button>
      <Button
        type="button"
        icon="pi pi-save"
        iconPos="left"
        label="Enregistrer"
        style="margin-bottom: 20px"
        @click="saveUserClick()"
      >
      </Button>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive, toRefs } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import UserForm from "../../users/components/shared/components/UserForm.vue";

export default defineComponent({
  components: {
    UserForm
  },
  props: {},
  setup() {
    const store = useStore();
    const data = reactive({
      userModel: {
        username: "",
        email: "",
        password: ""
      },
      loading: false,
      message: "",
      submitted: false,
      successful: false
    });
    const router = useRouter();
    const isLoggedIn = computed(() => store.getters["authStore/isLoggedIn"]);

    onMounted(() => {
      if (isLoggedIn.value) {
        router.push("/profile");
      }
    });

    function onInputChange($event: any) {
      data.userModel = $event;
    }

    function saveUserClick(): void {
      data.message = "";
      data.submitted = true;

      // this.$validator.validate().then((isValid) => {
      //   if (isValid) {
      store.dispatch("authStore/register", data.userModel).then(
        response => {
          data.message = response.message;
          data.successful = true;
          router.push("/login");
        },
        error => {
          data.message = error;
          data.successful = false;
        }
      );
      //   }
      // });
    }

    return {
      ...toRefs(data),
      saveUserClick,
      onInputChange
    };
  }
});
</script>

<style></style>
