<template>
  <div>
    <router-view />
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "vue";

export default defineComponent({
  props: {},
  setup() {
    const data = reactive({});
    return {
      ...toRefs(data)
    };
  }
});
</script>

<style lang="scss"></style>
