<template>
  <div>
    <Button
      type="button"
      icon="pi pi-plus"
      iconPos="left"
      label="Ajouter un artiste"
      style="margin-bottom: 20px"
      @click="onCreateArtistClick()"
    >
    </Button>

    <DataTable v-if="artistList.length" :value="artistList">
      <Column field="artistName" header="Name"></Column>
      <Column field="artistWebsite" header="Website"></Column>
      <Column field="artistAlbums" header="Nombre d'albums">
        <template #body="slotProps">
          {{
            slotProps.data.artistAlbums && slotProps.data.artistAlbums.length
              ? slotProps.data.artistAlbums.length
              : 0
          }}
        </template>
      </Column>
      <Column field="modificationNotes" header="Mise à jour">
        <template #body="slotProps">
          {{
            formatDate(
              slotProps.data.modificationNotes[
                slotProps.data.modificationNotes.length - 1
              ].modificationDate
            )
          }}
        </template>
      </Column>
      <Column
        header="Actions"
        headerStyle="width: 8em"
        bodyStyle="text-align: center"
      >
        <template #body="slotProps">
          <Button
            type="button"
            icon="pi pi-pencil"
            class="p-button-primary"
            style="margin-right: 0.5em"
            @click="onEditClick(slotProps.data.id)"
          ></Button>
          <Button
            type="button"
            icon="pi pi-trash"
            class="p-button-danger"
            @click="onDeleteClick(slotProps.data.id)"
          ></Button>
        </template>
      </Column>
    </DataTable>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, reactive, toRefs } from "vue";

import { useRouter } from "vue-router";
import { ID } from "../../../../../../lib/models/shared/api.model";
import moment from "moment";
import { useStore } from "vuex";

export default defineComponent({
  props: {},
  setup() {
    const router = useRouter();
    const data = reactive({});
    const store = useStore();
    const artistList = computed(() => store.state.artistStore.artistList);

    function goToCreateArtist(): void {
      router.push({ name: "admin-artists-create" });
    }

    function onCreateArtistClick(): void {
      goToCreateArtist();
    }

    function deleteUser(artistId: ID): void {
      store.dispatch("artistStore/deleteArtist", artistId);
    }

    function onDeleteClick(artistId: ID): void {
      deleteUser(artistId);
    }

    function goToEdit(artistId: ID): void {
      router.push({ name: "admin-artists-edit", params: { id: artistId } });
    }

    function onEditClick(artistId: ID): void {
      goToEdit(artistId);
    }

    function formatDate(date: Date): string {
      return moment(date).format("DD/MM/YYYY - HH[h]mm");
    }

    return {
      ...toRefs(data),
      onCreateArtistClick,
      onDeleteClick,
      onEditClick,
      formatDate,
      artistList
    };
  }
});
</script>

<style></style>
