<template>
  <div id="public-container">
    <router-view />
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "vue";

export default defineComponent({
  props: {},
  setup() {
    const data = reactive({});
    return {
      ...toRefs(data),
    };
  },
});
</script>

<style lang="scss">
@import "@/style/_container.scss";

#public-container {
  min-height: $container_min_height;
  background-color: transparent;
}
</style>
