<template>
  <div v-if="albumList">
    <PublicPages :pageTitle="`Albums d'EliZ`">
      <AlbumBlock
        v-for="(album, index) in albumList"
        :key="album"
        :class="{ alt: index % 2 }"
        :albumModel="album"
      ></AlbumBlock>

      <PrivateAlbumBlock v-if="isAdmin"></PrivateAlbumBlock>
    </PublicPages>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive, toRefs } from "vue";
import { useStore } from "vuex";
import PrivateAlbumBlock from "../../../../private/components/PrivateAlbumBlock.vue";
import AlbumBlock from "../../../../public/components/public-pages/AlbumBlock.vue";
import PublicPages from "../../../../public/components/public-pages/PublicPages.vue";

export default defineComponent({
  components: {
    PublicPages,
    AlbumBlock,
    PrivateAlbumBlock
  },
  props: {},
  setup() {
    const data = reactive({});
    const store = useStore();
    const albumList = computed(() => store.getters["albumStore/getAlbumList"]);
    const isAdmin = computed(() => store.getters["authStore/isAdmin"]);
    onMounted(() => {
      console.log('isAdmin', isAdmin.value);
      store.dispatch("albumStore/getAlbumList");
    });

    return {
      ...toRefs(data),
      albumList,
      isAdmin
    };
  }
});
</script>

<style></style>
