<template>
  <div>
    <div class="artist-form-title">
      <p>Nouvel artiste</p>
    </div>

    <form
      method="post"
      @submit.prevent="saveArtistClick"
      enctype="multipart/form-data"
    >
      <ArtistForm :value="artistModel" @input="onInputChange"></ArtistForm>
      <div>
        <Button
          type="button"
          class="p-button-danger"
          label="Annuler"
          style="margin-bottom: 20px; margin-right: 20px"
        >
        </Button>
        <Button
          type="submit"
          icon="pi pi-save"
          iconPos="left"
          label="Enregistrer"
          style="margin-bottom: 20px"
        >
        </Button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "vue";
import ArtistForm from "../../../../shared/components/artist/shared/components/ArtistForm.vue";
import { useRouter } from "vue-router";
import { ArtistModel } from "../../../../../shared/models/artist.model";
import { useStore } from "vuex";
import { ImageModel } from "../../../../../shared/models/common.model";
import { ImageService } from "../../../../../shared/services/image.service";
export default defineComponent({
  props: {},
  components: {
    ArtistForm
  },
  setup() {
    const router = useRouter();
    const store = useStore();
    const imageService = ImageService.getInstance();
    const data = reactive({
      artistModel: {
        artistName: "",
        artistWebsite: "",
        artistDescription: "",
        artistPhoto: {} as ImageModel,
        artistAlbums: [],
        artistEmail: "",
        artistFirstname: "",
        artistLastname: "",
        artistPassword: "",
        modificationNotes: []
      } as ArtistModel
    });

    function saveArtist(): void {
      // if (data.artistModel.artistPhoto instanceof FileList) {
      //   imageService
      //     .postImage(data.artistModel.artistPhoto)
      //     .then((artistPhoto) => artistPhoto)
      //     .then((artistPhoto) => {
      //       data.artistModel.artistPhoto = artistPhoto;
      //       store
      //         .dispatch("artistStore/postArtist", data.artistModel)
      //         .then(() => router.push({ name: "admin-artists" }))
      //         .catch((err) => console.log("UOOO", err));
      //     });
      // }
    }

    function saveArtistClick(): void {
      // saveArtist();
    }

    function onInputChange($event: ArtistModel) {
      // data.artistModel = $event;
    }

    return {
      ...toRefs(data),
      onInputChange,
      saveArtistClick
    };
  }
});
</script>

<style lang="scss">
.artist-form-title {
  font-weight: 300;
  font-style: normal;
  font-family: Roboto;
  color: #31384a;
  font-size: 60px;
  line-height: 1;
  letter-spacing: 0px;
  p {
    text-align: center;
  }
}
</style>
