<template>
  <div class="p-d-flex p-flex-column p-jc-center p-ai-center">
    <UserForm
      v-if="!loading"
      :value="userModel"
      @input="onInputChange"
    ></UserForm>

    <div>
      <Button
        type="button"
        class="p-button-danger"
        label="Annuler"
        style="margin-bottom: 20px; margin-right: 20px"
      >
      </Button>
      <Button
        type="button"
        icon="pi pi-save"
        iconPos="left"
        label="Enregistrer"
        style="margin-bottom: 20px"
        @click="updateUserClick()"
      >
      </Button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive, toRefs } from "vue";
import UserForm from "../../../../../public/components/users/components/shared/components/UserForm.vue";
import { useRoute, useRouter } from "vue-router";
import { UserService } from "../../../../../public/components/users/services/user.service";
import { UserModel } from "../../../../../public/components/users/models/user.model";

export default defineComponent({
  components: {
    UserForm
  },
  props: {
    id: {
      type: String,
      required: true
    }
  },
  setup(props) {
    const service = UserService.getInstance();
    const route = useRoute();
    const router = useRouter();
    const data = reactive({
      userModel: {} as UserModel,
      loading: true
    });

    function updateUser(): void {
      service
        .updateUser(data.userModel)
        .then(() => router.push({ name: "admin-users" }));
    }

    function updateUserClick(): void {
      updateUser();
    }

    function onInputChange($event: any) {
      data.userModel = $event;
    }

    onMounted(() => {
      service.getUser(props.id).then(userModel => {
        data.userModel = userModel;
        data.loading = false;
      });
    });

    return {
      ...toRefs(data),
      updateUserClick,
      onInputChange
    };
  }
});
</script>

<style></style>
