<template>
  <div>
    <Button
      type="button"
      icon="pi pi-plus"
      iconPos="left"
      label="Ajouter une gallerie"
      style="margin-bottom: 20px"
      @click="loadGalleryCreateComponent()"
      v-if="galleryList.length"
    >
    </Button>

    <div class="p-d-flex p-flex-column p-jc-center p-ai-center">
      <Button
        type="button"
        icon="pi pi-plus"
        iconPos="left"
        label="Créer votre premiere gallery"
        class="p-jc-center p-ai-center"
        @click="loadGalleryCreateComponent()"
        v-if="!galleryList.length"
      >
      </Button>
    </div>

    <DataTable v-if="galleryList.length" :value="galleryList">
      <!-- <Column
        field="isPublished"
        header="Status"
        headerStyle="width: 5em"
        bodyStyle="text-align: center"
      >
        <template #body="slotProps">
          <i
            class="pi pi-circle-on"
            :style="{
              color: slotProps.data.isPublished ? 'green' : 'red',
            }"
          ></i>
        </template>
      </Column> -->
      <Column field="galleryName" header="Name"></Column>
      <Column field="galleryhoto" header="Photo">
        <template #body="slotProps">
          {{
            formatDate(
              slotProps.data.modificationNotes[
                slotProps.data.modificationNotes.length - 1
              ].modificationDate
            )
          }}
        </template>
      </Column>
      <Column header="Actions" headerStyle="width: 8em">
        <template #body="slotProps">
          <Button
            type="button"
            icon="pi pi-pencil"
            class="p-button-primary"
            style="margin-right: 0.5em"
            @click="loadGalleryEditComponent(slotProps.data.id)"
          ></Button>
          <Button
            type="button"
            icon="pi pi-trash"
            class="p-button-danger"
            @click="onDeleteClick(slotProps.data.id)"
          ></Button>
        </template>
      </Column>
    </DataTable>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive, toRefs } from "vue";
import moment from "moment";
import { useRouter } from "vue-router";
import { ID } from "../../../../../../lib/models/shared/api.model";
import { AlbumService } from "../../../../../shared/services/album.service";
import { AlbumModel } from "../../../../../shared/models/album.model";
import { GalleryModel } from "../../../../../shared/models/gallery.model";
import { GalleryService } from "../../../../../shared/services/gallery.service";

interface GalleryListPropsOption {
  value: GalleryModel[];
}

export default defineComponent({
  props: {
    value: {
      type: Object,
      required: false
    },
    artistId: {
      type: String,
      required: true
    },
    albumId: {
      type: String,
      required: true
    }
  },
  setup(props, { emit }) {
    const data = reactive({
      galleryList: props.value ? props.value : ([] as GalleryModel[])
    });
    const router = useRouter();
    const service = GalleryService.getInstance();

    onMounted(() => {
      if (!props.value) {
        service
          .getGalleryList(props.artistId, props.albumId)
          .then(galleryList => (data.galleryList = galleryList));
      }
    });

    function loadGalleryCreateComponent() {
      emit("onChangeComponent", "GalleryCreate");
    }

    function loadAlbumEditComponent(albumId: ID) {
      emit("onChangeComponent", "AlbumEdit", { albumId });
    }

    function deleteAlbum(galleryId: ID): void {
      //   service.deleteAlbum(galleryId);
    }

    function onDeleteClick(galleryId: ID): void {
      deleteAlbum(galleryId);
    }

    function formatDate(date: Date): string {
      return moment(date).format("DD/MM/YYYY - HH[h]mm");
    }

    return {
      ...toRefs(data),
      formatDate,
      onDeleteClick,
      loadGalleryCreateComponent,
      loadAlbumEditComponent
    };
  }
});
</script>

<style lang="scss">
// .album-list-container {}
</style>
