<template>
  <div class="page-container">
    <div class="p-grid">
      <div class="p-col-2">
        <PanelMenu :model="items" />
      </div>

      <div class="p-col">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from "vue";
import { useRouter } from "vue-router";

export default defineComponent({
  props: {},
  setup() {
    const router = useRouter();
    const data = reactive({
      items: [
        {
          label: "Utilisateurs",
          icon: "pi pi-fw pi-users",
          command: () => {
            router.push({ name: "admin-users" });
          }
        },
        {
          label: "Artists",
          icon: "pi pi-fw pi-users",
          command: () => {
            router.push({ name: "admin-artists" });
          }
        }
      ]
    });

    return {
      ...toRefs(data)
    };
  }
});
</script>

<style lang="scss">
.page-container {
  min-height: calc(100vh - 280px);
  background-color: #ffffff;
  padding: 20px;
}
</style>
